.helpSupportContainer {
    height: 100%;
    min-height: calc(100vh - 70px);
    position: relative;
    background-image: url("../../assets/Images/backgroundLayer.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    top: 0;
    position: relative;
    box-sizing: inherit;
    width: 100%;
}

.bgLayerContainer {
    position: absolute;
    top: 50;
    height: 471px;
    width: 100%;
    z-index: -1;
}

.innerWrap {
    display: block;
    overflow: hidden;
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    margin: 0rem;
}

.bgLayer {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0rem;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.heading h1 {
    margin-top: 9.625rem;
    font-family: "Montserrat";
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 41.45px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--terniaryTextColor);
}

.heading h3 {
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
    color: var(--primaryTextColor);
}

.cardsContainer {
    width: 963px;
    max-width: 963px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8.125rem auto 18.75rem auto;
}

.largeCardsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 11px;
}

.Card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--primaryBg);
    box-shadow: var(--boxShadowColor);
    border: 1px var(--grayBorder);
    border-radius: 11px;
    overflow: hidden;
    padding: 2rem 3rem;

}

.miniCardsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.miniCard {
    width: 472px;
    height: fit-content;
    min-height: 117px;
    align-items: center;
    background: var(--primaryBg);
    border-radius: 11px;
    box-shadow: var(--boxShadowColor);
    display: grid;
    grid-template-columns: 94px auto;
    padding: 2rem 3rem;
    border: 1.4px var(--grayBorder);
}

.cardDetails {
    width: 100%;
    height: fit-content;
    /* min-height: 117px; */
    align-items: center;
    background: var(--primaryBg);
    display: grid;
    grid-template-columns: 94px auto 24px;
    border: 1.4px var(--grayBorder);
}

.cardTexts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    min-height: 54px;
}

.cardTitle {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--primaryTextColor);
}

.cardDesc {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: var(--secondaryTextColor);
    padding-right: 0.625rem;
}

.navigateIcon {
    display: none;
}

.backLayer {
    display: none;
}

.expandToggleBtn {
    background: none;
    border: none;
}

.expandSection {
    height: 0;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.expandDownIcon {
    transition: transform 0.3s ease-in-out;
}

.chatIconWrapper,
.socialIconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86px;
    width: 86px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.socialIconWrapper {
    margin: 1rem 0rem;
    height: 44px;
    width: 44px;
}

.chatIconWrapper:hover,
.socialIconWrapper:hover {
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background-color: var(--secondaryBg);
}

.chatIcon {
    height: 40px;
    width: 40px;
}

.socialIcon {
    height: 34px;
    width: 34px;
}

.socialName {
    font-family: "Montserrat";
    font-size: 0.688rem;
    font-weight: 500;
    line-height: 13.41px;
    text-align: left;

}

.rotate {
    transform: rotate(180deg);
}

.IconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: opacity 0.3s ease-in-out;
}

.contactFormWrapper {
    transition: opacity 0.3s ease-in-out;
}

.IconContainer.hidden,
.contactFormWrapper.hidden {
    opacity: 0;
}

.expandSection.show {
    height: 90px;
    padding-top: .5rem;
    transition-delay: 0s;
}

.expandSection.hide {
    height: 0;
    transition-delay: 0.3s;
}

.autoHeight.show {
    height: fit-content;
}

/* QueryForm Css */
.contactFormWrapper {
    width: 617px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.miniInputs {
    display: flex;
    justify-content: space-between;
}

.miniInputs .formGroup,
.formGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.textareaContainer .formGroup {
    width: "100%"
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 0rem 2rem 0rem;
}

.formGroup label {
    font-family: "Lato";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 0.04em;
    text-align: left;
}

.formGroup input {
    width: 294px;
    height: 32px;
    top: 1187px;
    left: 376px;
    gap: 0px;
    border-radius: 4px;
    border: 1px #E2E2E2;
    background: #F7F7F7;
}

.formGroup textarea {
    width: 617px;
    height: 72px;
    top: 1332px;
    left: 374px;
    gap: 0px;
    border-radius: 4px;
    border: 1px #E2E2E2;
    background: #F7F7F7;
    resize: none;
}

.submitButton {
    width: 191px;
    height: 33px;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--primaryColor);
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 700;
    line-height: 24.88px;
    text-align: left;
    margin: auto;
    opacity: 1;
}

.submitButton:hover {
    transform: scale(105%);
}

@media screen and (max-width: 963px) {
    .heading {
        gap: .8rem;
    }

    .heading h1 {
        margin-top: 3.75rem;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 24.38px;
        letter-spacing: 0.02em;
    }

    .heading h3 {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 17.07px;
    }

    .helpSupportContainer {
        margin-top: 3.125rem;
        background-image: none;
    }

    .cardsContainer {
        width: 93.6%;
        margin-top: 2.375rem;
    }

    .miniCardsWrapper {
        width: 100%;
        flex-direction: column;
        gap: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .cardImage {
        height: 24px;
        width: 24px;
    }

    .cardTexts {
        gap: 10px;
    }

    .cardTitle {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 14.63px;
        letter-spacing: 0.02em;
        text-align: left;

    }

    .cardDesc {
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 12.19px;
        text-align: left;

    }

    .cardTexts {
        min-height: 30px;
    }

    .miniCard {
        min-height: 67px;
        width: 100%;
        padding: 0rem 0.875rem;
        grid-template-columns: 45px auto 16px;
        border-radius: 6px;
    }

    .Card {
        min-height: 67px;
        padding: 0.875rem 0.875rem;
        border-radius: 6px;
    }

    .cardDetails {
        grid-template-columns: 45px auto 16px;
    }

    .IconContainer {
        gap: 1rem;
    }

    .navigateIcon {
        display: flex;
        height: 16px;
        width: 16px;
        justify-content: end;
        cursor: pointer;
    }

    .backLayer {
        display: flex;
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 236px;
        z-index: -1;
    }

    .moboBgLayer {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .largeCardsWrapper {
        gap: 1.25rem;
    }

    .chatIcon {
        height: 30px;
        width: 30px;
    }

    .socialIcon {
        height: 24px;
        width: 24px;
    }

    .socialName {
        font-family: "Montserrat";
        font-size: 0.688rem;
        font-weight: 500;
        line-height: 13.41px;
        text-align: left;

    }

    .expandSection.show {
        height: 80px;
    }

    .chatIconWrapper {
        height: 80px;
    }

    .socialIconWrapper {
        height: 34px;
        width: 34px;
    }

    .autoHeight.show {
        height: fit-content !important;
    }

    /* query form css */
    .miniInputs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .miniInputs {
        gap: 1rem;
    }

    .formGroup label {
        font-family: "Lato";
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 14.4px;
        letter-spacing: 0.04em;
        text-align: left;

    }

    .contactFormWrapper,
    .miniInputs .formGroup,
    .formGroup input,
    .textareaContainer .formGroup textarea {
        width: 100% !important;
    }

    .contactForm {
        width: 100%;
        padding: 1.8rem 1.8rem;
        gap: 1rem;

    }

    .submitButton {
        width: 171px;
        height: 33px;
        font-size: 0.688rem;
        font-weight: 700;
        line-height: 17.1px;

    }
}